<!doctype html>
<html>
<head>
    <title>mco2hy</title>
    <script src="~/main.js"></script>
</head>
<body>
<input type="button" value="Düğme" onclick="buttonClick();">
<input type="button" value="Düğme2" onclick="buttonClick2();">
</body>
</html>